*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
}
.material-symbols-outlined{
  font-size: 1em;
}
span:not(.material-symbols-outlined),
p,
a,
li,
dd,
dt,
td,
h2,
h3,
h4{
  font-family: "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  font-family: "Karantina", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #ffe5e8;
}
.strikethrough{
  text-decoration: line-through;
  opacity: 0.5;
}
body {
  font-size: 18px;
}
@media (max-width: 1250px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media(max-width:400px){
    body {
        font-size: 12px;
    }
}
/*==== nav ====*/
#header {
	background: rgba(46, 0, 50, 0.8);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 998;
}
#header-top {
  width: 100%;
  background: #191919;
}
#header-top ul{
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  padding: 1em;
  display: table;
}
#phone {
  display: table-cell;
  width: 60%;
  vertical-align: middle;
}
#book-now-main {
  display: table-cell;
  width: 40%;
  text-align: right;
  vertical-align: middle;
}
.phone {
  color: gainsboro;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-right: 1em;
  font-weight: bold;
}
#book-now-main a {
  color: gainsboro;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.15em;
}
@media(max-width:450px){
  .phone{
    font-size: 1.15em;
    margin-top: 0.5em;
  }
}
#book-now-main .material-icons {
  vertical-align: bottom;
}
.cart-link .material-icons {
  vertical-align: sub;
  font-size: 1em;
}
#header-main {
  width: 100%;
  display: table;
  padding: 1em;
  max-width: 80em;
  margin: 0 auto;
  position: relative;
}
#logo img {
  width: 3em;
  display: inline-block;
}
#logo {
  display: table-cell;
  width: 33%;
  text-align: left;
  vertical-align: middle;
}
#logo a {
  display: block;
}
#logo span {
  color: gold;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: "karantina";
  vertical-align: top;
  display: inline-block;
  transition: 0.3s;
}
#logo span:hover{
  text-shadow: 0em 0em 1em;
}
#main-nav {
  list-style-type: none;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
#main-nav nav {
  vertical-align: middle;
}
#main-nav nav a {
  color: white;
  font-size: 1em;
  margin-right: 1em;
  display: inline-block;
  font-size: 1.15em;
  transition: 0.3s;
}
#main-nav nav a:hover{
  text-shadow: 0em 0em 0.5em white;
}
.menu-btn {
  position: absolute;
  width: 2.75em;
  height: 2em;
  transition: 0.3s;
  cursor: pointer;
  z-index: 998;
  background-color: transparent;
  border: 0;
  color: white;
  right: 1em;
  display: none;
  top: 1.5em;
}
.menu-btn hr {
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  position: absolute;
  border: 2px solid white;
}
.menu-btn-hr-1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn-hr-3 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2 {
  opacity: 0;
}
.menu-btn.active .menu-btn-hr-3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
@media (max-width: 750px) {
  .menu-btn {
    display: block;
  }
  #main-nav{
    width: 100%;
    display: none;
    background-color: #000000e3;
    position: absolute;
    right: 0;
    top: 10.5em;
    padding: 1em;
    z-index: 998;
  }
  #main-nav.active{
    display: block;
  }
  #main-nav nav a{
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.25em;
  }
  #logo{
    width: 60%;
  }
}



/*= product-medium =*/
.product-med{
  height: 25em;
  position: relative;
  overflow: hidden;
	width: 100%;
	margin: 0 auto;
  text-align: left;
  font-size: 1em;
  max-width: 25em;
  background: #312334;
  border-radius: 1em;
}
.product-med header{
	position: absolute;
	left: 2em;
	top: 2em;
	width: auto;
	z-index: 3;
	text-shadow: 0em 0em 0.5em black;
}
.product-med header h2,
.product-med header h3{
	color: white;
display: block;
	text-transform: capitalize;
line-height: 1em;
}
.product-med header h2{
	font-weight: bold;
font-size: 1.5em;
	font-family: "Josefin Sans", Verdana, Geneva, Tahoma, sans-serifinherit;
}
.product-med header h3{
	color: white;
display: block;
	text-transform: capitalize;
line-height: 1em;
	font-size: 1em;
	font-family: "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
}
.product-med img{
height: 100%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
opacity: 0.75;
}
.product-med .duration{
position: absolute;
	left: 2em;
	bottom: 2em;
	width: auto;
}
.product-med .duration .material-symbols-outlined,
.product-med .duration .duration-time{
color: white;
display: inline-block;
vertical-align: bottom;
text-shadow: 0em 0em 0.5em black;
}
.product-med .duration .material-symbols-outlined{
  font-size:1.5em;
}
.product-med .duration .duration-time{
 font-size: 1em;
	font-weight: bolder;
}
.product-med .price{
width: auto;
position: absolute;
right: 2em;
bottom: 2em;
text-align: right;
}
.product-med .price .before-price,
.product-med .price .after-price{
color: white;
display: block;
line-height: 1.25em;
}
.product-med .price .before-price{
font-size: 1.5em;
opacity: 0.75;
text-decoration: line-through;
}
.product-med .price .after-price{
font-size: 1.5em;
display: inline-block;
vertical-align: bottom;
font-weight: bold;
text-shadow: 0em 0em 1em black;
}
.product-med .price .after-price::before{
content: "from ";
font-size: 0.6em;
display: inline-block;
vertical-align: baseline;
text-transform: capitalize;
margin-right: 0.5em;
}
.product-med .price .learn-more{
display: block;
border-radius: 5em;
background-color: #3d0d3c;
padding: 0.5em 0.5em;
text-align: right;
margin-top: 0.5em;
max-width: 11em;
}
.product-med .price .learn-more span{
display: inline-block;
vertical-align: middle;
color: #FFC700;
text-transform: capitalize;
font-size: 1em;
font-weight: bold;
padding-left: 0.5em;
}
.product-med .price .learn-more span.material-symbols-outlined{
color: #3d0d3b;
background-color: #ffc700;
border-radius: 5em;
padding: 0.075em 0.05em 0.075em 0.15em;
font-size: 1.25em;
}





.product-med .price .book-now{
display: block;
border-radius: 5em;
background-color: #FFC700;
padding: 0.5em;
text-align: right;
margin-top: 0.5em;
max-width: 8em;
}
.product-med .price .book-now span{
display: inline-block;
vertical-align: middle;
color: #3F0000;
text-transform: capitalize;
font-size: 1em;
font-weight: bold;
}
.product-med .price .book-now span.material-symbols-outlined{
color: gold;
background-color: black;
border-radius: 5em;
padding: 0.075em 0.125em 0.1em 0.125em;
font-size: 1.25em;
font-weight: lighter;
}


@media(max-width:800px){
  .product-med header{
    font-size: 1.25em;
  }
  .product-med .price .learn-more,
  .product-med .price .book-now{
    font-size: 1.15em;
  }
}

@media(max-width:500px){
  .product-med .price .learn-more,
  .product-med .price .book-now{
    font-size: 1.25em;
  }
}

#why-book-with{
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 4em 0em;
    position: relative;
  }
  @media (max-width: 650px) {
    #why-book-with{
      width: 100%;
    }
  }
  #why-book-with h3 {
    text-transform: capitalize;
    font-size: 2em;
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
    color: #692600;
  }
  #why-book-with h3 br {
    display: none;
  }
  #why-book-with ul {
    display: table;
    width: 100%;
    margin: 0 auto;
    max-width: 60em;
  }
  #why-book-with ul li {
    display: table-cell;
    width: 33.3%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
  }
  .booking-details {
    width: 100%;
    border-radius: 2em;
    background: #fff1f4;
    position: relative;
    text-align: center;
    padding: 2em 1em 1em 1em;
  }
  .booking-details img {
    position: absolute;
    height: 100%;
  }
.booking-details p {
  color: #333;
  line-height: 1.5em;
}
.booking-img-container {
  background: #380733;
  border: 0.25em solid white;
  height: 6em;
  width: 6em;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -4em;
}
.booking-img-container:after{
  content:"";
  position: relative;
}
  .booking-details header {
    text-align: center;
    font-size: 1.33em;
    text-transform: capitalize;
    color: #011627;
    margin-bottom: 1em;
  }
  #book-with-cta {
    background: #f7b801;
    width: 92%;
    display: block;
    max-width: 11.35em;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: "oleo script", san-serif;
    border-radius: 1em;
    margin-top: 1em;
    color: #9a031e;
    text-transform: capitalize;
  }
  @media(max-width:900px){
    #why-book-with ul {
    display: block;
    }
    #why-book-with ul li {
    display: block;
      width: 100%;
    } 
    .booking-details{
      max-width: 20em;
      margin: 2em auto;
    }
  }


/*====================================================================*/
.content-container {
  background-image: url("../images/tapasWhite.jpg");
  background-size: 10em;
  text-align: center;
  padding-bottom: 2em;
}
.content-container h2 {
	font-size: 2em;
	text-transform: capitalize;
	padding: 1em 0em;
	color: #390734;
}
/*====================================================================*/


.page-hero {
	background-size: cover;
	background-position: top left;
	position: relative;
	padding-top: 15em;
	padding-bottom: 5em;
}
.page-hero section {
  /*! position: absolute; */
  /*! left: 50%; */
  /*! transform: translateX(-50%); */
  /*! bottom: 8em; */
  width: 100%;
  text-align: center;
}
@media(max-width:500px){
  .page-hero section{
    width: 100%;
    text-align: center;
  }
}
.page-hero section h1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
}
.page-hero section h1 span {
}
.page-hero section span {
  color: white;
  font-size: 2em;
}
/*========================| compare chart |===========================*/
.compare-chart {
	overflow-x: scroll;
}
.compare-chart table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	max-width: 1000px;
	margin: 1em auto;
}
.compare-chart thead {
	background: #053d52;
}
.first-row td {
	color: #3b0a39;
	font-size: 1.15em;
	text-transform: capitalize;
	line-height: 1em;
	padding: 0.8em;
	background-color: #f5b600;
	text-align: center;
}
.compare-chart th {
	width: 12.5%;
	height: 6.5em;
	background: #6a2b68;
	background-image: url("../images/oahu_banners.png");
	background-size: 800%;
	background-repeat: no-repeat;
}
.nth-row td {
	color: #793a59;
	font-size: 1em;
	text-transform: capitalize;
	line-height: 1.5em;
	padding: 0.8em;
	background: beige;
	border-bottom: 0.15em solid #e1e1cc;
	text-align: center;
}
.nth-row td:first-child {
	background: #793a59;
	color: #f5b600;
	border-bottom: 0.15em solid #68243b;
	line-height: 1em;
	text-align: center;
}
.total-row {
	border-bottom: 3px solid black;
}
.total-row td:first-child {
	background: #793a59;
	color: #ffd700;
	line-height: 1em;
	text-transform: capitalize;
}
.total-row td {
	color: white;
	font-size: 1em;
	text-transform: capitalize;
	line-height: 1.5em;
	padding: 0.8em;
	width: 12.5%;
	height: 6.5em;
	background: #68243b;
	border-top: 0;
	font-size: 1.2em;
	text-align: center;
}

.compare-chart a {
  display: block;
  height: 100%;
}
#luau-0 {
	background-position: 10em 50%;
}
#luau-1 {
	background-position: 100% 50%;
}
#luau-2 {
	background-position: 14.5% 50%;
}
#luau-3 {
  background-position-y: 50%;
}
#luau-4 {
	background-position: 86% 50%;
}
#luau-5 {
	background-position: 71.3% 50%;
}
#luau-6 {
	background-position: 28.75% 50%;
}
#luau-7 {
	background-position: 57.25% 50%;
}
.compare-map img {
	width: 100%;
}
.compare-map {
	padding: 2em;
	background: #1b6a99;
}
/*=======================================*/
.row-icon {
	height: 4em;
	width: 4em;
	margin: 0 auto;
	background-image: url("../images/compare-icons.png");
	background-size: 600%;
}
#price-icon {
	background-position: 20% 100%;
}
#food-icon {
	background-position: 60% 100%;
}
#location-icon {
	background-position: 75% 0%;
}
#to-icon {
	background-position: 100% 0%;
}
#mc-icon {
	background-position: 80% 100%;
}
#staff-icon {
	background-position: 0% 100%;
}
#value-icon {
	background-position: 80% 0%;
}
#arts-icon {
	background-position: 20% 0%;
}
#imu-icon {
	background-position: 40% 0%;
}
#audience-icon {
	background-position: 40% 100%;
}
#location-icon {
	background-position: 60% 0%;
}


/*========================*/
#footer {
  display: table;
  max-width: 80em;
  margin: 0 auto;
  background: #300a2fd9;
  width: 100%;
}
footer {
  width: 100%;
  background-image: url("../images/palm-trees-background.png");
  background-size: cover;
}
#footer-left,
#footer-center,
#footer-right {
  display: table-cell;
  width: 33.3%;
  vertical-align: top;
  padding: 2em;
  text-align: center;
}
#footer-left ul{
  display: table;
  width: 14em;
  margin: 0 auto;
}
#footer-left ul li{
  display: table-cell;
  width: 25%;
  padding: 0.25em;
}
#footer-left ul li a{
  width: 100%;
  display: block;
  background-color: white;
  border-radius: 2em;
  padding: 0.25em;
}

#footer-left ul li img {
  width: 100%;
  display: block;
}

#footer h4 {
	color: #dbaeb5;
	display: block;
	font-size: 2em;
	line-height: 2.5em;
	text-transform: uppercase;
	font-family: "karantina";
	font-weight: lighter;
}
#footer-logo {
  min-width: 18em;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
}
#footer-logo a {
  display: block;
}

#footer-logo img{
  width: 5em;
}
#footer-logo span {
  color: gold;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: "karantina";
  vertical-align: top;
  display: inline-block;
  transition: 0.3s;
}
#footer-logo span:hover{
  text-shadow: 0em 0em 1em;
}
#footer-reservations{
  color: gainsboro;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.15em;
  display: inline-block;
}
.footer-phone{
  color: gainsboro;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-right: 1em;
  font-weight: bold;
}

#footer-center a,
#footer-right a{
  color: gainsboro;
  text-transform: capitalize;
  line-height: 2em;
  display: inline-block;
  margin: 0 auto;
}

footer p {
  color: gainsboro;
  width: 100%;
  background: black;
  text-align: center;
  padding: 1em;
}
@media(max-width:900px){
  #footer-left,
  #footer-center,
  #footer-right{
    display: block;
    width: 100%;
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
  }
}

.page-container {
  background-image: url("../images/tapasWhite.jpg");
  background-size: 10em;
  width: 100%;

}
/*=== product index  ===*/
/*= activities =*/
.activity {
  display: block;
  width: 100%;
  background: ivory;
  padding: 2em;
  margin-bottom: 1em;
  max-width: 60em;
  border: 1px solid gainsboro;
  overflow: auto;
  margin: 1em auto;
}

.activity-title,
.activity-description,
.activity-footer{
  text-align: left;
  width: 50%;
  padding-left: 1em;
  position: relative;
  float: right;
}
.activity-title .title {
  text-transform: capitalize;
  color: #67243a;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top:   0;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}
.sub-title {
  text-transform: capitalize;
  line-height: 1em;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
}
.duration {
  font-weight: normal;
  display: block;
  margin-top: 1em;
}
.duration b,
.duration span{
  color: #333;
  display: inline-block;
  vertical-align: middle;
}
.duration b{
  font-family: "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}
.activity-img {
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 20em;
  max-width: 22em;
  float: left;
}
.activity-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
}
.activity-description{
  padding-top: 1em;
}
.activity-description p{
  line-height: 1.75em;
  font-size: 1em;
}
.activity-footer{
  margin-top: 1em;
}
.activity-left {
  text-align: left;
}
.activity-right {
  text-align: right;
}
.activity-footer li{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  width: 49%;
}

.activity .sale-price,
.activity .list-price {
  font-size: 1.25em;
  display: inline-block;
  padding-right: 1em;
  text-transform: capitalize;
}
.activity .sale-price{
  color: #333;
}
.activity .list-price{
  opacity: 0.5;
}
.activity .sale-price span,
.activity .list-price span{
  display: block;
  font-weight: bolder;
}
.activity .sale-price span::before,
.activity .list-price span::before{
  content: "$";
}
.activity .list-price span{
 text-decoration: line-through;
}
.activity-anchor {
  background: #FFC700;
  display: inline-block;
  border-radius: 2em;
  text-align: center;
  padding: 0.75em;
}
.activity-anchor p {
  text-transform: capitalize;
  font-weight: bold;
  color: #3F0000;
  display: inline-block;
  vertical-align: bottom;
}
.activity-anchor .material-symbols-outlined {
  color: gold;
  background: black;
  border-radius: 1em;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  padding: 0.05em 0em 0.05em 0.1em;font-size: 1em;
}
.activity-anchor.book {
  background: #ff0054;
  padding: 0.55em;
  min-width: 8.5em;
  margin-top: 0.5em;
}
.activity-anchor.book p {
  color: gold;
}
.activity-anchor.book .material-symbols-outlined {
  color: gold;
  font-size: 1.15em;
  padding: 0;
  background: none;
}
@media(max-width:900px){
  .activity-title,
  .activity-description,
  .activity-footer{
    width:45%;
  }
}
@media(max-width:700px){
  .activity{
    max-width: 30em;
    margin: 1em auto;
  }
  .activity-title,
  .activity-description,
  .activity-footer,
  .activity-img{
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .activity-footer{
    font-size: 1.25em
  }
  .activity-img{
    height: 15em;
  }
  .activity-img img{
    height: auto;
    width: 100%;
  }
  .sub-title{
    padding-bottom: 0.5em;
  }
  .sale-price,
  .list-price{
    font-size: 1.5em;
  }
}
/*=== product detail ===*/
#product-entry{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffe5e8;
  padding-top: 8.85em;
}
@media(max-width:600px){
  #product-entry{
    padding-top: 9.65em;
  }
}
@media(max-width:450px){
  #product-entry{
    padding-top: 11.1em;
  }
}
#activity-header {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 15em;
}
#activity-header img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@media(max-width:1095px){
  #activity-header img{
    width: auto;
    height: 100%;
  }
}
#product-content {
  text-align: left;
  display: table;
  width: 100%;
  transform: scaleX(-1);
  margin: 2em auto;
}
#player-wrapper {
  display: table-cell;
  width: 45%;
  vertical-align: middle;
  transform: scaleX(-1);
  text-align: center;
  padding: 1em;
}
#product-main {
  display: table-cell;
  vertical-align: top;
  width: 55%;
  transform: scaleX(-1);
  padding-top: 1em;
}
#player-wrapper iframe {
  width: 95%;
  height: 20em;
  max-width: 30em;
}
#product-header {
  text-transform: capitalize;
  color: #57335b;
  font-size: 1.5em;
  margin-top: 0.25em;
  font-family: "Josefin Sans";
}
#product-subtitle {
  text-transform: capitalize;
  color: #333;
  font-size: 1.15em;
  margin-bottom: 0.75em;
  margin-top: 0.5em;
}
#product-features {
  display: block;
  width: 100%;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  max-width: 40em;
}
#product-features li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
#product-features .material-symbols-outlined {
  color: #790052;
  font-weight: bold;
  font-size: 1.5em;
}
#product-features span {
  color: #333;
  font-size: 1.15em;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}

.product-duration {
  color: #333;
  margin: 1em auto;
}
.product-duration span {
  display: inline-block;
  vertical-align: middle;
}

#product-prices {
  display: inline-table;
  width: 50%;
  margin-top: 1em;
  vertical-align: middle;
}
#product-prices li {
  display: table-cell;
  text-align: left;
  padding-right: 1em;
  width: 50%;
}
#before-price {
  font-size: 1.25em;
  text-transform: capitalize;
  color: #bbb;
}
#before-price span {
  font-size: 1.5em;
  text-decoration: line-through;
  font-weight: bold;
  display: block;
}
#after-price {
  font-size: 1.25em;
  text-transform: capitalize;
  color: #57335b;
}
#after-price span {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}
#product-buttons {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1em;
}

#product-button {
  background: #ffc700;
  display: inline-block;
  border-radius: 2em;
  padding: 0.5em 0.5em 0.5em 1em;
  text-align: center;
  border: 0;
  font-size: 1.2em;
  vertical-align: middle;
  cursor: pointer;
}
#product-button p {
  text-transform: capitalize;
  font-weight: bold;
  color: #790052;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.15em;
}
#product-button .material-symbols-outlined {
  color: gold;
  background: #030000;
  border-radius: 1em;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: bottom;
}
#seating {
  display: block;
  border-radius: 5em;
  vertical-align: middle;
  font-size: 1.1em;
  border: 0.15em solid #032541;
  color: #042342;
  text-align: center;
  padding: 0.5em 0em;
  max-width: 10em;
  margin: 1em auto;
}
#book-now-alt {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 988;
  background: #dfbc00;
  border: 0;
  font-size: 1.25em;
  text-transform: capitalize;
  color: #1d1d1d;
  padding: 0.75em;
  font-weight: bold;
  cursor: pointer;
}
#book-now-alt.hidden {
  display: none;
}
#book-now-alt.visible {
  display: block;
}
#book-now-alt span {
  display: inline-block;
  vertical-align: text-top;
}

.activity-details {
  padding: 2em;
  margin: 0 auto;
  display: block;
  max-width: 1000px;
  font-size: 1.2em;
}
.bulletpoint-row {
  column-count: 2;
  padding: 2em;
  column-fill: balance;
}
@media(max-width:800px){
  .bulletpoint-row{
    column-count: 1;
    text-align: center;
    list-style-position: inside;
  }
}
.bulletpoint-header {
  margin: 1em auto;
  color: #790052;
}
.bulletpointstyles li {
  line-height: 2em;
}
#activity-article p {
  margin-bottom: 1em;
  line-height: 1.5em;
  color: #333;
}
@media (max-width: 750px) {
  #book-now-alt {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #player-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1em;
  }
  #product-main {
    display: block;
    width: 100%;
    padding: 0em 1em;
    text-align: center;
    font-size: 1.15em;
  }
  #product-features {
    margin: 1em auto;
  }
  #product-prices {
    display: table;
    width: 100%;
    text-align: center;
  }
  #product-prices li {
    text-align: center;
    padding: 1em;
  }
  #product-buttons {
    display: block;
    width: 100%;
    text-align: center;
  }
}

#activity-gallery {
  width: 100%;
  text-align: center;
  margin: 1em auto;
  max-width: 60em;
}
#activity-gallery li {
  display: inline-block;
  width: 32%;
  overflow: hidden;
  height: 15em;
  padding: 0.5em;
}
.gallery-image {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.gallery-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

/*==== bread-crumbs ======*/

#bread-crumbs {
  width: 100%;
  text-align: left;
  padding-top: 9.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
#bread-crumbs li {
  display: inline-block;
  vertical-align: middle;
}
#bread-crumbs a {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  color: #b4007a;
  text-transform: capitalize;
}
#bread-crumbs .material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  color: #572e56;
}
@media (max-width: 750px) {
  #bread-crumbs {
    text-align: center;
  }
}
/*======= blog styling =======*/

.blog-preview {
	display: inline-block;
	border-radius: 1em;
	width: 100%;
	margin-bottom: 1em;
	padding: 1em;
}
.blog-preview header {
	overflow: hidden;
	position: relative;
	margin-top: 0 !important;
	height: 12.5em;
	z-index: 1;
	background: black;
}
.blog-preview header img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	z-index: 4;
	transform: translate(-50%, -50%);
}
#blog-container {
	text-align: center;
	background: #FDC6BE;
}
#blog-body {
	text-align: center;
	column-count: 2;
	padding: 1em;
	margin: 0 auto;
	max-width: 1200px;
	background: #ffe5e8;
}
#blog-hero h2 {
	margin-bottom: 1em;
}
.blog-preview h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 1em;
	width: 100%;
	text-align: center;
	color: #006588;
	line-height: 1em;
}
.blog-preview a {
	margin-bottom: 1em;
	display: inline-block;
	background-color: #FFD700;
	color: #3D0D3B;
	border-radius: 2em;
	text-transform: capitalize;
	padding: 0.5em 2em;
}
.blog-preview p {
	color: #333;
	font-size: 1.15em;
	text-align: left;
	line-height: 1.5em;
}
.date, .time {
	display: inline-block;
	color: #305661;
	margin: 0.5em;
	font-family: "Montserrat", sans-serif;
}
.more-blog {
	background-color: black;
	opacity: 0.7;
	width: 191px;
	border-radius: 12px;
	margin: 1em auto;
	font-family: kon-tiki-aloha-jf, sans-serif;
	font-weight: 500;
	font-size: 22pt;
	border: solid 1px #61b3c5;
	padding: 4px 12px 4px 12px;
	text-shadow: 3px 3px 4px #2e1405a3;
	text-decoration: none;
	display: inline-block;
}

.details {
  background: beige;
  max-width: 1200px;
  margin: 0 auto;
}
@media(max-width: 1000px) {
	.blog-preview header img {
		width: auto;
		height: 100%;
	}
}
@media(max-width:800px) {
	#blog-body {
		text-align: center;
		column-count: 1;
	}
	.blog-preview header img {
		width: 100%;
		height: auto;
	}
}

.blog-preview h2 {
  color: #67243a;
  margin: 0.5em 0em;
}
.blog-preview article {
  background: white;
  padding: 1em 2em;
}

/* ====================*/
/*==== f a q ===*/
/*===================*/

.accordion{
	width: 100%;
	padding: 5em;
}
.accordion .tab{
	width: 100%;
	background: whitesmoke;
	list-style-type: none;
}
.accordion .tab header {
	padding: 1em;
	text-align: center;
	text-transform: capitalize;
	font-weight: 100;
	background: antiquewhite;
	border-bottom: 2px solid #67243a;
	color: #efefef;
	cursor: pointer;
  transition: 0.3s;
	font-size: 1.25em;
	font-weight: bold;
	background: #804261;
}
.accordion .tab.active header{
  color:#67243a;
  background: #f7b801;
}
.accordion .tab .content {
	width: 100%;
	padding: 3em;
	text-align: center;
	transform-origin: top;
}
.accordion .tab .content p {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 2em;
	max-width: 40em;
	margin: 0 auto;
	width: 90%;
}
.accordion .tab .content{
	display: none;
}
@@-webkit-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
@@-moz-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
.accordion .tab.active .content{
	display: block;
  height: auto;
	-webkit-animation: fadeIn 0.3s ease-out;
	-moz-animation: fadeIn 0.3s ease-out;
}